@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center; align-items: center;
    background-color: rgba(0, 0, 0, 0.959);
    font-family: sans-serif;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

main h1 {
    margin-bottom: 10px;
}

input {
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 30px;
}