@charset "utf-8";

@media screen and (min-width:800px) {
    header {
        font-size: 1.2em;
    }

    main {
        font-size: 1.5em;
    }

    input#idano {
        font-size: 0.7em;
        height: 25px;
    }
}